<section class="add-inventory">
<h1>Add Food to <%= @inventory.name %></h1>
<div class="inventory">
<%= form_with(model: [ @inventory, @inventory_food ], local: true) do |form| %>
  <%= form.label :food_id, 'Food' %>
  <%= form.collection_select :food_id, @foods, :id, :name, prompt: 'Select a food' %>

  <%= form.label :quantity %>
  <%= form.number_field :quantity %>

  <%= form.submit "Add Food" %>
  </div>
<% end %>
<section>