<section class="newFood">
<%= form_with model: @recipe_food, url: recipe_recipe_foods_path(@recipe) do |form| %>
  <div class="fieldInput">
    <%= form.label :food_name, "Food Name" %>
    <%= form.text_field :food_name %>
  </div>

  <div class="fieldInput">
    <%= form.label :quantity, "Quantity" %>
    <%= form.number_field :quantity %>
  </div>

  <div class="fieldInput">
    <%= form.label :value, "Value" %>
    <%= form.number_field :value %>
  </div>

  <div class="actions">
    <%= form.submit "Add Food" %>
    <%= link_to 'Cancel', recipe_path(@recipe), class: 'button' %>
  </div>
<% end %>
<section>




